In [1]:
import pandas as pd

carData = {"Mercedes": [2, 4, 0, 4, 0, 3],
           "Ford": [3, 0, 0, 1, 6, 12],
           "Tata": [9, 3, 4, 1, 0, 0],
           "Renault": [12, 1, 0, 0, 3, 1],
          }

carsales = pd.DataFrame(carData)

print(carsales)

   Mercedes  Ford  Tata  Renault
0         2     3     9       12
1         4     0     3        1
2         0     0     4        0
3         4     1     1        0
4         0     6     0        3
5         3    12     0        1

### Edit the index of the existing dataframe

In [2]:
carsales.index.rename("Sales place", inplace=True)
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
0                   2     3     9       12
1                   4     0     3        1
2                   0     0     4        0
3                   4     1     1        0
4                   0     6     0        3
5                   3    12     0        1

### Rename the index labels using a dictionary

In [3]:
# Rename the index labels using a dictionary
carsales.rename(index={0: "One",
                       1: "Two",
                       2: "Three",
                       3: "Four",
                       4: "Five",
                       5: "Six",}, inplace=True)
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1


setting the index labels to names is normally best done lately
in the report stage of any data analysis,
data sorting may interfere with the visual aspect of the naming convention
related to the order of the data in this dataframe, used in this example,
and renaming of key variables which are necessary to identify a data observation, 
is not advised - use a new column, or make the naming changes as a graphical last stage edit.

#### The index and index labels are useful for data selection:

In [4]:
print(carsales.loc["Two"])

Mercedes    4
Ford        0
Tata        3
Renault     1
Name: Two, dtype: int64

### Add a new row to the DataFrame

In [5]:
newSalesPlace = pd.DataFrame({"Mercedes": 3,
                              "Ford": 5,
                              "Tata": 1,
                              "Renault": 1,},
                             index=["Seven"])
carsales = pd.concat([carsales, newSalesPlace])
print(carsales)

       Mercedes  Ford  Tata  Renault
One           2     3     9       12
Two           4     0     3        1
Three         0     0     4        0
Four          4     1     1        0
Five          0     6     0        3
Six           3    12     0        1
Seven         3     5     1        1

### Add new columns to the DataFrame

In [6]:
volvo = [1, 4, 0, 0, 0, 11, 12]
tesla = [2, 6, 2, 3, 0, 4, 7]
carsales["Volvo"] = volvo
print(carsales)

       Mercedes  Ford  Tata  Renault  Volvo
One           2     3     9       12      1
Two           4     0     3        1      4
Three         0     0     4        0      0
Four          4     1     1        0      0
Five          0     6     0        3      0
Six           3    12     0        1     11
Seven         3     5     1        1     12

### Insert and name a column at a defined position in the DataFrame

In [7]:
carsales.insert(loc=0, column="Tesla", value=tesla)
print(carsales)

       Tesla  Mercedes  Ford  Tata  Renault  Volvo
One        2         2     3     9       12      1
Two        6         4     0     3        1      4
Three      2         0     0     4        0      0
Four       3         4     1     1        0      0
Five       0         0     6     0        3      0
Six        4         3    12     0        1     11
Seven      7         3     5     1        1     12

### Create a DataFrame from Python list
Reuse Volvo and Tesla, Add Ford.

In [9]:
ford = [3, 0, 0, 1, 6, 12, 5]
data = [volvo, tesla, ford]
print(data)

[[1, 4, 0, 0, 0, 11, 12], [2, 6, 2, 3, 0, 4, 7], [3, 0, 0, 1, 6, 12, 5]]

#### Create the DataFrame

In [10]:
carsales2 = pd.DataFrame(list(zip(volvo, tesla, ford)), columns=["Volvo", "Tesla", "Ford"])
print(carsales2)

   Volvo  Tesla  Ford
0      1      2     3
1      4      6     0
2      0      2     0
3      0      3     1
4      0      0     6
5     11      4    12
6     12      7     5

The `zip()` function creates a tuple for every position in the lists `(volvo[0], ford[0], tesla[0]), (volvo[1], ford[1], tesla[1])`
Since `zip()` returns a "lazy", or **single-use iterator**, we need to wrap it in `list()` so that Pandas can iterate over it as many times as it needs for the DataFrame creation.

### Currently, the Dictionary with list data presents the least work avenue to create DataFrames without using transpose functions.

### Export DataFrame to CSV and XSLX

In [12]:
carsales.to_csv("carsales.csv")
carsales.to_excel("carsales.xlsx")

### Delete a DataFrame

In [14]:
del(carsales)