In [1]:
import pandas as pd

# Read the carsales XLSX to a Pandas DataFrame

In [3]:
carsales = pd.read_excel("carsales.xlsx")
print(carsales)

  Unnamed: 0  Tesla  Mercedes  Ford  Tata  Renault  Volvo
0        One      2         2     3     9       12      1
1        Two      6         4     0     3        1      4
2      Three      2         0     0     4        0      0
3       Four      3         4     1     1        0      0
4       Five      0         0     6     0        3      0
5        Six      4         3    12     0        1     11
6      Seven      7         3     5     1        1     12

The *index* column is read as an ordinary column. We do not want that.

In [4]:
del carsales

## Read the XLSX and restore the *index* column

Restore the index labels and name the *index* column

In [8]:
carsales = pd.read_excel("carsales.xlsx", index_col=0)
carsales.index.rename("Sales place", inplace=True)
print(carsales)

             Tesla  Mercedes  Ford  Tata  Renault  Volvo
Sales place
One              2         2     3     9       12      1
Two              6         4     0     3        1      4
Three            2         0     0     4        0      0
Four             3         4     1     1        0      0
Five             0         0     6     0        3      0
Six              4         3    12     0        1     11
Seven            7         3     5     1        1     12

# Write every column into its own spreadsheet

This is just the simple way of creating a workbook with many spreadsheets.

In [9]:
with pd.ExcelWriter("carsales2.xlsx") as writer:
    for column in carsales.columns:
        carsales[column].to_excel(writer, sheet_name=column)

# Read the spreadsheets back to the DataFrame set

In [10]:
carsales2 = pd.read_excel("carsales2.xlsx", index_col=0, sheet_name=["Mercedes", "Ford", "Tata", "Renault"])
print(carsales2)

{'Mercedes':              Mercedes
Sales place
One                 2
Two                 4
Three               0
Four                4
Five                0
Six                 3
Seven               3, 'Ford':              Ford
Sales place
One             3
Two             0
Three           0
Four            1
Five            6
Six            12
Seven           5, 'Tata':              Tata
Sales place
One             9
Two             3
Three           4
Four            1
Five            0
Six             0
Seven           1, 'Renault':              Renault
Sales place
One               12
Two                1
Three              0
Four               0
Five               3
Six                1
Seven              1}

## Reconstruct the spreadsheet into a DataFrame

with Pandas' `concat()` used on a *column* basis (`index=1`) instead of *row* basis (`index=0`) (default mode)

In [11]:
carsales3 = pd.DataFrame()
for dict in carsales2.values():
    carsales3 = pd.concat([carsales3, pd.DataFrame.from_dict(dict)], axis=1)
print(carsales3)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1
Seven               3     5     1        1