In [2]:
import pandas as pd
import sqlite3

# Create a Pandas DataFrame

In [3]:
cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales place", inplace=True)
carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)

print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

# Put the DataFrame into a db table

Use `append` instead of `replace` if needed

In [4]:
conn = sqlite3.connect("carsales.db")
carsales.to_sql("carsales", conn, if_exists="replace")
del carsales

# Recreate the carsales DataFrame

Load everything from the *carsales* table

In [7]:
carsales = pd.read_sql_query("SELECT * FROM carsales", conn)
print(carsales)

  Sales place  Mercedes  Ford  Tata  Renault
0         One         2     3     9       12
1         Two         4     0     3        1
2       Three         0     0     4        0
3        Four         4     1     1        0
4        Five         0     6     0        3
5         Six         3    12     0        1

## Restore indexes to the DataFrame

In [9]:
carsales = carsales.set_index("Sales place")
print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1