In [1]:
import pandas as pd

cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales place", inplace=True)
carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)

print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

# `DataFrame.loc[row, column]`

# Select a single row -> *Series*

In [2]:
print(carsales.loc["Three"])

Mercedes    0
Ford        0
Tata        4
Renault     0
Name: Three, dtype: int64

## Select rows between (and including) specified labels -> *DataFrame*

In [4]:
print(carsales.loc["Two":"Four"])

             Mercedes  Ford  Tata  Renault
Sales place
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0

## Slicing

### Select "Three" to the last

In [9]:
print(carsales.loc["Three":])

             Mercedes  Ford  Tata  Renault
Sales place
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

# `DataFrame.iloc[row, column]`

## Select a single row -> *Series*

In [3]:
print(carsales.iloc[3])

Mercedes    4
Ford        1
Tata        1
Renault     0
Name: Four, dtype: int64

## Select rows with slicing -> *DataFrame*

In [5]:
print(carsales.iloc[2:4])

             Mercedes  Ford  Tata  Renault
Sales place
Three               0     0     4        0
Four                4     1     1        0

In [6]:
print(carsales.iloc[1:4])

             Mercedes  Ford  Tata  Renault
Sales place
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0

In [7]:
print(carsales.iloc[:4])

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0

In [8]:
print(carsales.iloc[4:])

             Mercedes  Ford  Tata  Renault
Sales place
Five                0     6     0        3
Six                 3    12     0        1

### Select every second row

In [10]:
print(carsales.iloc[::2])

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Three               0     0     4        0
Five                0     6     0        3

### Sort the rows backwards

In [11]:
print(carsales.iloc[::-1])

             Mercedes  Ford  Tata  Renault
Sales place
Six                 3    12     0        1
Five                0     6     0        3
Four                4     1     1        0
Three               0     0     4        0
Two                 4     0     3        1
One                 2     3     9       12