**Column or variable selection is about selecting a subset of a DataFrame** or a number *n* of columns from a total number of *N* columns.<br>
- The word *"column"* refers to a Pandas DataFrame's column and the word *"variable"* refers to the mathematical abstraction that the DataFrame column with contents represents.
- The word *"selection"* usually means to create a subset view of a DataFrame, whereas *"extraction"* usually refers to creating a subset copy of a DataFrame.

In [1]:
import pandas as pd

cardata = { "Mercedes": [2, 4, 0, 4, 0, 3], "Ford": [3, 0, 0, 1, 6, 12], "Tata":[9, 3, 4, 1, 0, 0], "Renault":[12, 1, 0, 0, 3, 1]}
carsales = pd.DataFrame(cardata)
carsales.index.rename("Sales place", inplace=True)
carsales.rename(index={0: "One", 1: "Two", 2: "Three", 3: "Four", 4: "Five", 5: "Six"}, inplace=True)

print(carsales)

             Mercedes  Ford  Tata  Renault
Sales place
One                 2     3     9       12
Two                 4     0     3        1
Three               0     0     4        0
Four                4     1     1        0
Five                0     6     0        3
Six                 3    12     0        1

# Select a named, single column

- as a Pandas Series object

In [2]:
print(carsales["Tata"])

Sales place
One      9
Two      3
Three    4
Four     1
Five     0
Six      0
Name: Tata, dtype: int64

- as a Pandas DataFrame

In [3]:
print(carsales[["Ford"]])

             Ford
Sales place
One             3
Two             0
Three           0
Four            1
Five            6
Six            12

# Select multiple columns

In [4]:
print(carsales[["Ford", "Mercedes", "Renault"]])

             Ford  Mercedes  Renault
Sales place
One             3         2       12
Two             0         4        1
Three           0         0        0
Four            1         4        0
Five            6         0        3
Six            12         3        1

# Make selections with `iloc()`

- Select column 1, return as DataFrame

In [6]:
print(carsales.iloc[:, [1]])

             Ford
Sales place
One             3
Two             0
Three           0
Four            1
Five            6
Six            12

- Select columns 1 and 2

In [7]:
print(carsales.iloc[:, [1, 2]])

             Ford  Tata
Sales place
One             3     9
Two             0     3
Three           0     4
Four            1     1
Five            6     0
Six            12     0

- Select columns 1 to 3

In [9]:
print(carsales.iloc[:, 0:3])

             Mercedes  Ford  Tata
Sales place
One                 2     3     9
Two                 4     0     3
Three               0     0     4
Four                4     1     1
Five                0     6     0
Six                 3    12     0

- Select the last column

In [14]:
print(carsales.iloc[:, -1:])

             Renault
Sales place
One               12
Two                1
Three              0
Four               0
Five               3
Six                1

# Make selections using `loc()`

- Select the Ford column

In [12]:
print(carsales.loc[:, ["Ford"]])

             Ford
Sales place
One             3
Two             0
Three           0
Four            1
Five            6
Six            12

- Select Tata and Mercedes

In [13]:
print(carsales.loc[:, ["Tata", "Mercedes"]])

             Tata  Mercedes
Sales place
One             9         2
Two             3         4
Three           4         0
Four            1         4
Five            0         0
Six             0         3